h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none !important;
}
a:hover {
  color: black;
  text-decoration: none !important;
}

mark {
  padding: 0;
  background-color: yellow;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  padding: 0;
  color: black;
}

.navbar-nav.sidebar {
  background-color: #2f4050;
}

.sidebar-brand {
  background: #caecfa;
}

.sidebar-info {
  background-color: #29445f;
}

.sdid #accordion .card-header,
.sdid #accordion .card-body {
  background-color: #d6e2e9;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.card-header .btn {
  color: black;
}

.kategori button {
  background-color: #76a0b4;
}

#card-header-chat {
  background-color: #295d77;
}

#chat-left {
  max-width: 20vw;
  background-color: #d6e2e9;
  border-radius: 0px 15px 15px 15px / 25px 15px 15px 15px;
  box-shadow: 2px 2px rgb(161, 159, 159);
}

#footer {
  background-color: #295d77;
}

#chat-right {
  background-color: #214b5f;
  max-width: 20vw;
  border-radius: 10px;
  box-shadow: 2px 2px rgb(161, 159, 159);
}
#chat-right p {
  color: white !important;
}

#action_page a {
  color: black;
}

#keluhan {
  /* background-color: #98B7C7; */
}
#button-his {
  width: 100%;
}

.liActive {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: default !important;
}

.pointer {
  cursor: pointer;
}

.selectedStatus {
  border-bottom: 3px solid #76a0b4;
}

.primary-color {
  color: #214b5f;
}

.primary-bg-color {
  background-color: #214b5f;
}

.secondary-color {
  color: #d6e2e9;
}

.secondary-bg-color {
  background-color: #d6e2e9;
}

.third-color {
  color: #76a0b4;
}

.third-bg-color {
  background-color: #76a0b4;
}

.four-color {
  color: #31708f;
}

.four-bg-color {
  background-color: #31708f;
}

.btn-fillter {
  border: 2px solid black;
}

.btn-fillter-active {
  border: 2px solid #214b5f;
  background-color: #d6e2e9;
}

.ssd-kategori {
  background-color: #d6e2e9;
}

.highlight {
  background-color: yellowgreen;
}

#btn-back{
  background:#eaecf4;
  border:0.2px solid #d1d3e2;
}

.basis-5{
  flex-basis: 20%;
}
