h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none !important;
}
a:hover {
  color: black;
  text-decoration: none !important;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  margin: 0;
  padding: 0;
  color: black;
}

.navbar-nav.sidebar {
  background-color: #2f4050;
}

.sidebar-brand {
  background: #caecfa;
}

.sidebar-info {
  background-color: #29445f;
}

.sdid #accordion .card-header,
.sdid #accordion .card-body {
  background-color: #d6e2e9;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.card-header .btn {
  color: black;
}

.kategori button {
  background-color: #76a0b4;
}

#card-header-chat{
    background-color: #295D77;
}

#chat-admin{

    background-color:#D6E2E9; 
    border-radius: 0px 15px 15px 15px / 25px 15px 15px 15px;
    box-shadow: 2px 2px rgb(161, 159, 159);
}

#footer{
    background-color: #295D77;
}

#chat-user p {
    background-color: #214B5F;
     color:white; 
     width: 45%; 
     border-radius:10px;
     box-shadow: 2px 2px rgb(161, 159, 159);
}

#action_page a{
  color:black;
}

#keluhan {
  /* background-color: #98B7C7; */

}
#button-his{
  width:100%;
}

